@import '~@angular/material/theming';

// Color palettes from the Material Design spec.
// See https://www.google.com/design/spec/style/color.html
//
// Contrast colors are hard-coded because it is too difficult (probably impossible) to
// calculate them. These contrast colors are pulled from the public Material Design spec swatches.
// While the contrast colors in the spec are not prescriptive, we use them for convenience.

$mat-blue: (
    50 : #e1e7f2,
    100 : #b5c2de,
    200 : #839ac8,
    300 : #5172b1,
    400 : #2c53a1,
    500 : #073590,
    600 : #063088,
    700 : #05287d,
    800 : #042273,
    900 : #021661,
    A100 : #91a0ff,
    A200 : #5e74ff,
    A400 : #2b48ff,
    A700 : #1232ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-yellow: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mat-celeste: (
    50 : #e5f2fc,
    100 : #bedef7,
    200 : #93c8f2,
    300 : #67b2ec,
    400 : #47a2e8,
    500 : #2691e4,
    600 : #2289e1,
    700 : #1c7edd,
    800 : #1774d9,
    900 : #0d62d1,
    A100 : #fdfeff,
    A200 : #cadfff,
    A400 : #97c0ff,
    A700 : #7eb0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Background palette for light themes.
$light-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover:      map_get($mat-grey, 300),
  card:       white,
  dialog:     map_get($mat-grey, 100),
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

// Background palette for dark themes.
$dark-background: (
  status-bar: map_get($mat-blue, 500),
  app-bar:    map_get($mat-blue, 900),
  background: map_get($mat-blue, 500),
  hover:      rgba(white, 0.04),
  card:       map_get($mat-blue, 800),
  dialog:     map_get($mat-blue, 600),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-blue, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-blue, 900),
  selected-disabled-button: map_get($mat-blue, 800),
  disabled-button-toggle: map_get($mat-blue, 500),
  unselected-chip: map_get($mat-blue, 700),
  disabled-list-option: map_get($mat-blue, 500),
);

// Foreground palette for light themes.
$light-foreground: (
  base:              map_get($mat-blue, 500),
  divider:           map_get($mat-grey, 400),
  dividers:          map_get($mat-grey, 300),
  disabled:          rgba(map_get($mat-blue, 500), 0.38),
  disabled-button:   rgba(map_get($mat-blue, 500), 0.38),
  disabled-text:     rgba(map_get($mat-blue, 500), 0.38),
  hint-text:         rgba(map_get($mat-blue, 500), 0.38),
  secondary-text:    rgba(map_get($mat-blue, 500), 0.54),
  icon:              rgba(map_get($mat-blue, 500), 0.54),
  icons:             rgba(map_get($mat-blue, 500), 0.54),
  text:              rgba(map_get($mat-blue, 500), 0.87),
  slider-min:        rgba(map_get($mat-blue, 500), 0.87),
  slider-off:        rgba(map_get($mat-blue, 500), 0.26),
  slider-off-active: rgba(map_get($mat-blue, 500), 0.38),
);

// Foreground palette for dark themes.
$dark-foreground: (
  base:              white,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. The warn palette is optional (defaults to red).
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-yellow);
$warn:    mat-palette($mat-orange);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $light-foreground,
    background: $light-background,
);

$dark-theme: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $dark-foreground,
    background: $dark-background,
);