<section class="app mat-typography">

  <mat-toolbar color="primary" class="toolbar">
    <div class="logo-container">
      <button mat-button class="toolbar-button" routerLink="/">
        <mat-icon>flight_takeoff</mat-icon>
      </button>
      <span>Viajes 9J</span>
    </div>
    <div class="fill-space"></div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <section class="sidenav-content">
      <router-outlet></router-outlet>
    </section>

  </mat-sidenav-container>
</section>