<form class="container">

  <mat-accordion>
    <mat-expansion-panel [expanded]="panelStateOpen" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="card-icon">airplanemode_active</mat-icon>
            <span>Viaja con nosotros</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          El día 9 de junio nos casamos en la Parroquía Santa María de las Virtudes a las 19 horas.
        </p>
        <p>
          A partir de las 21:30 fiestón en Hacienda Candelaria, Espera.
        </p>
        <p>¡Os esperamos!</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-form-field>
    <input matInput placeholder="Nombre">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Teléfono">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="date" type="date" placeholder="Fecha" [(ngModel)]="formData.date" (ngModelChange)="dateChangeHandler($event)">
  </mat-form-field>

  <div>
    <label>¿Nos acompañarás el día 9 de junio?</label>
    <mat-radio-group class="radio-group">
      <mat-radio-button class="radio-button" value="always">Sí</mat-radio-button>
      <mat-radio-button class="radio-button" value="never">No</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <label>¿Harás uso del autobús hasta Hacienda Calendaria?</label>
    <mat-radio-group class="radio-group">
      <mat-radio-button class="radio-button" value="always">Sí</mat-radio-button>
      <mat-radio-button class="radio-button" value="never">No</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Comentarios"></textarea>
  </mat-form-field>

  <button type="button" mat-raised-button color="primary">Confirmar</button>

</form>