<ngu-carousel class="banner" [inputs]="carouselBanner"  (carouselLoad)="carouselBannerLoad()">
  <ngu-item NguCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
    <div class="bannerStyle" [style.background]="'url(' + tile + ')'">
      <h1>{{i}}</h1>
    </div>
  </ngu-item>

  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>

<div class="info-panel">
  <div class="title">
    <mat-icon class="card-icon">airplanemode_active</mat-icon>
    <h1 class="title-text">Viaja con nosotros</h1>
    <mat-icon class="card-icon">airplanemode_active</mat-icon>
  </div>
  <p>
    El día 9 de junio nos casamos en la Parroquía Santa María de las Virtudes a las 19 horas.
  </p>
  <p>
    Y a partir de las 21:30 fiestón en Hacienda Candelaria, Espera.
  </p>
  <p>¡Os esperamos!</p>
</div>

<div class="container">
  <form class="form-container">
    <mat-form-field>
      <input matInput placeholder="Nombre" name="name" pattern=".{1,50}" [(ngModel)]="formData.name" required [disabled]="completed">
      <mat-error *ngIf="formData.name.length < 1">Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Teléfono" name="telephone" pattern=".{9,15}"
         [(ngModel)]="formData.telephone" required [disabled]="completed">
      <mat-error *ngIf="formData.telephone.length < 9 || formData.telephone.length > 15">Número de teléfono incorrecto</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="date" type="date" placeholder="Fecha" [(ngModel)]="formData.date" (ngModelChange)="dateChangeHandler($event)" [disabled]="completed">
    </mat-form-field>

    <div>
      <label>¿Nos acompañarás el día 9 de junio?</label>
      <mat-radio-group class="radio-group" name="attendance" [(ngModel)]="formData.attendance" (ngModelChange)="attendanceChangeHandler($event)" [disabled]="completed">
        <mat-radio-button class="radio-button" value=true>Sí</mat-radio-button>
        <mat-radio-button class="radio-button" value=false>No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label>¿Harás uso del autobús hasta Hacienda Calendaria?</label>
      <mat-radio-group class="radio-group" name="bus" [(ngModel)]="formData.bus" [disabled]="completed || !formData.attendance || (formData.attendance == 'false')">
        <mat-radio-button class="radio-button" value=true>Sí</mat-radio-button>
        <mat-radio-button class="radio-button" value=false>No</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <textarea matInput placeholder="Comentarios" name="comments" pattern=".{0,500}"
          [(ngModel)]="formData.comments" [disabled]="completed"
          matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8">
      </textarea>
    </mat-form-field>

    <button class="confirm-button" *ngIf="(!completed && !success)" type="button" mat-raised-button color="primary" [disabled]="isInvalid()" (click)="handleClick()">Confirmar</button>
    <div *ngIf="(completed && success)">
      <mat-icon>check</mat-icon>
      <span>Se ha enviado tu {{ modified ? 'modificación en los datos' : 'confirmación' }}, ¡muchas gracias!</span>
    </div>
    <div *ngIf="(completed && !success)">
      <mat-icon>error</mat-icon>
      <span>No ha sido posible enviar tu confirmación, inténtalo de nuevo por favor.</span>
    </div>
  </form>
</div>