@import 'src/styles/palette';

:host {
  height: 100%;
  position: relative;
}

.info-panel {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 8px;
  width: 90%;
  @media screen and (min-width: 600px) {
    max-width: 600px;
    padding: 16px;
  }
  color: map-get($mat-celeste, A100);
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 0px 0px 8px map-get($mat-blue, 900);
}

.title {
  .title-text {
    display: inline-block;
  }

  .card-icon {
    display: none;
    margin: 16px 8px;
    @media screen and (min-width: 400px) {
      display: inline-block;
    }
  }
}

.container {
  background-color: map-get($mat-celeste, 500);
  border: 1px solid map-get($mat-blue, 500);
  position: absolute;
  width: 70%;
  top: 100vw;
  left: 0;
  right: 0;
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  @media screen and (min-width: 800px) {
    width: 90%;
  }
  @media screen and (min-width: 600px) {
    max-width: 600px;
  }
  @media screen and (min-width: 400px) {
    top: 300px;
    padding: 16px;
  }
}

.form-container {
  background: map-get($mat-celeste, A100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  height: 600px;
  justify-content: space-evenly;
  margin: auto;
  position: relative;
  width: 80%;
  @media screen and (min-width: 600px) {
    max-width: 600px;
    padding: 32px;
  }
  padding: 16px;
  z-index: 2;
}

.form-container::before {
  background: url('/assets/plane-stamp.svg') no-repeat right bottom;
  background-size: contain;
  content: '';
  opacity: 0.15;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  width: 75%;
  z-index: 1;   
}

.confirm-button {
  font-weight: bold;
  z-index: 2;
}

.confirm-button[disabled] {
  background-color: rgba(200, 200, 200, 0.8);
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 8px 4px;
}

.bannerStyle {
    background-color: #ccc;
    background-position-y: 25% !important;
    background-size: cover !important;
    height: 100%;
}

.bannerStyle img {
    width: 100%;
    height: 100%;
}

.bannerStyle h1 {
    text-align: center;
    line-height: 400px;
    background: rgba(0, 0, 0, 0.32);
    color: transparent;
    margin: 0;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: -20%;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: -20%;
}
